.section {
    /*background: black;*/
    height: 800px;
    padding: 7px 0;

    display: grid;
    grid-template-columns: 1fr 4fr;
}

.messageItem {
    padding: 10px 0;

    display: grid;
    grid-template-columns: 1fr 4fr;
}

.photo {
    height: 40px;
    width: 40px;
    background: #0d58c8;
}

.content {
    position: relative;
    width: 100%;
}

.name {
    font-style: italic;

    position: absolute;
    left: 0;
    top: 0;
}

.time {
    position: absolute;
    right: 0;
    top: 0;
}

.message {
    position: absolute;
    bottom: 0;
    left: 0;
}