.selectedPage {
    font-weight: bold;
}
.pagination span {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid black;
}
.pagControl {
    padding: 9px;
    background: #0d58c8;
    border: 1px solid #0d58c8;

    text-align: center;
    color: white;
}
