.card {
    border: 1px solid red;
}

.userBlock {
    border: 1px solid red;

}

.avatar {
    border: 1px solid red;

}

.userName {
    border: 1px solid red;

}

.country {
    border: 1px solid red;

}

.infoBlock {
    border: 1px solid red;

}

.follow {
    border: 1px solid red;

}