.wrapper {
    margin: 25px 0 10px 0;
}

.users {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
    grid-gap: 20px;
    align-items: center;
}

.card {
    padding: 10px 0;

    border: 1px solid black;
    border-radius: 25px;
}

.userBlock {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.avatar {
    width: 75px;
    height: auto;
}

.country {
    margin-bottom: 10px;

    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #a1a5b1;
}

.infoBlock {
    display: flex;
}

.follow {
    background: #0d61bc;
    padding: 15px 18px;
    border: 0;

    color: white;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 10px;
}

.follow:disabled {
    color: grey;
}

.unfollow {
    background: red;
    padding: 15px 18px;
    border: 0;

    color: white;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 10px;
}

.unfollow:disabled {
    color: grey;
}
