.section {
    padding: 10px;

    display: grid;
    grid-template-columns: minmax(200px, 350px) 4fr;
    grid-gap: 20px;
}

/* POSTS */

.posts {
    /*border: 1px solid wheat;*/
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);

}

.nav {
    border-bottom: 1px solid #f6f6f7;
}

button {
    display: inline-block;
    padding: 16.5px 30px;
    background: #f6f6f7;
    border: 0;

    color: black;

    font-size: 13px;
    line-height: 13px;
    text-decoration: none;

    transition: background 0.3s linear;
}

.nav button:hover {
    background: white;
}

.nav button:focus {
     outline: none;
 }

.selectedMode {
    color: white!important;
    background: #0d58c8!important;
}

/*CHANGE*/

.contact {
    padding-left: 15px;
}





