/*USER info*/

.btn {
    margin: 2px;
    padding: 10px 5px;
    border: 0;
    background: #0D61BC;
    color: white;
}

.userDetail {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 125px;
    height: 125px;
    border-radius: 50%;
}

.name {
    text-align: center;
}
.contact {
    margin-left: 15px;
}


/* managment */

.management {
    border: 1px solid black;

    display: flex;
    justify-content: space-between;
}

